<!-- Bootstrap Navbar -->
<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <a class="navbar-brand" href="#">Mean Docker Boilerplate</a>
  </div>
</nav>

<div class="container">
  <div [style.margin-top.px]="10" class="row">
    <h3>Add new person</h3>
    <form class="form-inline">
      <div class="row">
        <div class="form-group col-xs-6">
          <label for="name" class="sr-only"></label>
          <input id="name" class="form-control input-group-lg" type="text" title="Enter name" placeholder="Name" #name>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-6">
          <label for="age" class="sr-only"></label>
          <input id="age" class="form-control input-group-lg" type="number" title="Enter age" placeholder="Age" #age>
        </div>
      </div>
      <button type="button" (click)="addPerson(name.value, age.value)" class="btn btn-primary">Add person</button>
    </form>
  </div>
  <div [style.margin-top.px]="10" class="row">
    <h3>People</h3>
    <!-- Bootstrap Card -->
    <div [style.margin-right.px]="10" class="card card-block col-md-3" *ngFor="let person of people">
      <h4 class="card-title">{{person.name}}  {{person.age}}</h4>
    </div>
  </div>
</div>